<!--
  Generated template for the ImgDemoListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>img-demo-list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item no-padding>
    <ion-label>Image:</ion-label>
    <ion-select [(ngModel)]="img" [compareWith]="compareFn" (ngModelChange)="changeItem()">
      <ion-option *ngFor="let img of imgList" [value]="img">{{img.fileNm}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item no-padding>
      <ion-label>Container:</ion-label>
    <ion-select [(ngModel)]="containerNm" (ngModelChange)="changeContainer()">
      <ion-option selected>pocstores</ion-option>
      <ion-option>other</ion-option>
    </ion-select>
  </ion-item>
  <ion-item no-padding>
    <div>
      <img src="{{imgUri}}" alt="">
    </div>
  </ion-item>
  <ion-item no-padding>
    <div style="width: 100%; text-align: right">
      <button ion-button color="light" style="margin-right:10px;" (click)="uploadImage(1)">
        <ion-icon name="md-camera"></ion-icon>
      </button>
      <button ion-button color="light" style="margin-right:10px" (click)="uploadImage(2)">
        <ion-icon name="md-photos"></ion-icon>
      </button>
      <button ion-button color="light" style="margin-right:10px" (click)="delImageByName()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </div>
  </ion-item>
  <div style="width: 100%; text-align: right">
    <button ion-button color="light" style="margin:10px;" (click)="updateImg()">
      <ion-icon name="md-refresh-circle"></ion-icon>
    </button>
  </div>
  
  <div style="width: 100%; text-align: right">
    {{resultMessage}}
  </div>
</ion-content>
