<!--
  Generated template for the PolylineDemoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>polyline-demo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div #map id="map"></div>
  <div id="floating-panel" [ngStyle]="{'display': isDisplay}">
    <ion-item no-lines no-padding style="height: 10px;">
      <ion-label>PolyLine</ion-label>
      <ion-select [(ngModel)]="propertyKey" (ngModelChange)="setPropertyValue()" style="width: 150px;">
        <ion-option value="basic">basic</ion-option>
        <ion-option value="draggable">draggable</ion-option>
        <ion-option value="editable">editable</ion-option>
        <ion-option value="icons">icons</ion-option>
        <ion-option value="strokeColor">strokeColor</ion-option>
        <ion-option value="strokeOpacity">strokeOpacity</ion-option>
        <ion-option value="strokeWeight">strokeWeight</ion-option>
      </ion-select>

      <ion-select [(ngModel)]="propertyVal" (ngModelChange)="changePropertyVal()" style="width: 150px;">
        <ion-option [value]="item" *ngFor="let item of properties">{{item}}</ion-option>
      </ion-select>
    </ion-item>
    <div>
      <button (click)="setDraggable()">setDraggable</button>
      <button (click)="setEditable()">setEditable</button>
      <button (click)="setOptions()">setOptions</button>
      <button (click)="backspace()">backspace</button>
    </div>
    <div>
      <button (click)="addTriggerToPoly()">addTriggerToPoly</button>
      <button (click)="cleanAll()">cleanAll</button>

    </div>
  </div>

  <div>
    <button ion-button style="position:absolute; z-index: 100; bottom:2vh; left:2vw; cursor: pointer;" (click)="isVisable()">Demo</button>
  </div>
</ion-content>
