page-map-image-demo {
    #map {
        height: 100%;
    }

    #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
    
    #right-panel select, #right-panel input {
        font-size: 15px;
    }
    
    #right-panel select {
        width: 100%;
    }
    
    #right-panel i {
        font-size: 12px;
    }
    #right-panel {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        right: 5px;
        top: 60%;
        margin-top: -195px;
        // height: 200px;
        // width: 100px;
        padding: 5px;
        z-index: 5;
        border: 1px solid #999;
        background: #fff;
    }
    h2 {
        font-size: 22px;
        margin: 0 0 5px 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        // height: 271px;
        // width: 200px;
        overflow-y: scroll;
    }
    li {
        background-color: #f1f1f1;
        padding: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    li:nth-child(odd) {
        ackground-color: #fcfcfc;
    }
    
}
