<!--
  Generated template for the MapImageDemoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>map-image-demo</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div #map id="map"></div>
  <div id="right-panel">
    <h2>Icons</h2>
    <ul id="places">
      <li><img src="assets/imgs/icon1.png" height="30" width="30" (click)="selIcon('icon1.png')"></li>
      <li><img src="assets/imgs/icon2.png" height="30" width="30" (click)="selIcon('icon2.png')"></li>
      <li><img src="assets/imgs/icon3.png" height="30" width="30" (click)="selIcon('icon3.png')"></li>
      <li><img src="assets/imgs/icon4.png" height="30" width="30" (click)="selIcon('icon4.png')"></li>
      <li><img src="assets/imgs/icon5.png" height="30" width="30" (click)="selIcon('icon5.png')"></li>
      <li><img src="assets/imgs/icon6.png" height="30" width="30" (click)="selIcon('icon6.png')"></li>
    </ul>
    <button (click)="ceateImg()">ImgC</button>
  </div>
</ion-content>
