<ion-header>
  <ion-navbar>
    <ion-title>
      {{DBName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="selectPage" class="selectPage-first">
    <div>
      <button ion-item no-lines (click)="selectButton()">
        <ion-label>SELECT Data</ion-label>
      </button>
    </div>
    <div [hidden]="firstFlg" class="selectContent">
      <table>
        <tr>
          <th>id</th>
          <th>studentName</th>
          <th>teacherName</th>
          <th>email</th>
          <th colspan='2'>edit</th>
        </tr>
        <tr *ngFor="let item of demoData">
          <td>{{item.studentid}}</td>
          <td>{{item.studentname}}</td>
          <td>{{item.teachername}}</td>
          <td>{{item.email}}</td>
          <td>
            <button ion-button color="secondary" style="width:30px;height: 15px;font-size: 2.5vw;" (click)="editButton(item.studentid,item)">Edit</button>
          </td>
          <td>
            <button ion-button color="danger" style="width:47px;height: 15px;font-size: 2.5vw;" (click)="deleteButton(item.studentid)">Delete</button>
          </td>
        </tr>
        <tr>
          <td colspan='6' style="text-align: left;">
            <button ion-button style="width:30px;height: 15px;margin-left: 15px;font-size: 2.5vw;" (click)="createButton()">Add</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>