page-sel-data {
    .selectPage{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .selectPage-first{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .selectContent{
        width: 100%;
        font-size: 2.7vw;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    th{
        height: 20px;
        border: 1px solid #ccc;
        text-align: center;
        font-weight: bold;
        background-color: #F0F0F0;
        padding: 5px;
    }
    td{
        height: 20px;
        border: 1px solid #ccc;
        text-align: center;
    }
}
