page-lst-img {
    .pageContent{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img{
        width: 300px;
        height: 400px;
    }
    .imgName{
        width: 300px;
        height: 50px;
        text-align: right;
    }
    .imgUrl{
        width: 300px;
        height: 300px;
        border: 1px solid #ccc;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
