<!--
  Generated template for the LstImgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title text-center>Azure ピクチャー選択</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="pageContent">
    <div class="img">
      <div class="imgName">
        <ion-item no-lines>
          <ion-label>ご選択</ion-label>
          <ion-select name='item' [(ngModel)]="item" style="max-width: 75%;" (ngModelChange)="imgChange(item)" text-right>
            <ion-option [value]="item" *ngFor="let item of imgList" [selected]="item == imgFirst">{{item}}</ion-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="imgUrl">
        <img src="{{imgUrl}}" alt="">
        <!-- <img id="imgurl" /> -->
      </div>
    </div>
  </div>
  <ion-fab bottom right style="z-index: 999999;" (click)="goAdd()">
    <button ion-fab mini color="warn">
      <ion-icon name="add" color="light"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom right style="z-index: 999999;right: 70px;" (click)="goDetail()">
    <button ion-fab mini color="warn">
      <ion-icon name="hammer" color="light"></ion-icon>
    </button>
  </ion-fab>
</ion-content>