<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>P5メニュー</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button full color="light" (click)="goLine()">線が描ける</button>
  <button ion-button full color="light" (click)="goDrag()">図形の作成</button>
  <button ion-button full color="light" (click)="goRotate()">図形の回転</button>
  <button ion-button full color="light" (click)="goPaint()">作図</button>
</ion-content>