page-detail-img {
    .pageCon{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgCon{
        width: 300px;
        height: 300px;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
