<!--
  Generated template for the DetailImgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>編集</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="pageCon">
    <div class="imgCon">
      <img src="{{imgUrl}}">
    </div>
  </div>

  <ion-fab bottom right style="z-index: 999999;" (click)="delete()">
    <button ion-fab mini color="warn">
      <ion-icon name="md-close" color="light"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom right style="z-index: 999999;right: 70px;" (click)="showPicActionSheet()">
    <button ion-fab mini color="warn">
      <ion-icon name="md-cloud-upload" color="light"></ion-icon>
    </button>
  </ion-fab>
  <span id="span">
    {{result}}
  </span>
</ion-content>