page-p5-1 {
    .content-area {
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    .canvas-area {
        position: relative;
        height: 85%;
    }

    .action-button-area {
        position: relative;
        height: 10%;
        background-color: #ddd;
        display: flex;
    }


}
