<!--
  Generated template for the P5_1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>図形の作成</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- ここにCanvasが展開される -->
  <div id="myCanvas" #myCanvas class="canvas-area">
  </div>
  <button ion-button (click)="dragPicture('line','drag')">
    線
  </button>
  <button ion-button (click)="dragPicture('rect')">
    矩形
  </button>
  <button ion-button (click)="dragPicture('rect','drag')">
    矩形ドラッグ
  </button>
  <button ion-button (click)="dragPicture('triangle')">
    三角形
  </button>
  <button ion-button (click)="dragPicture('ellipse')">
    円形
  </button>
  <button ion-button (click)="dragPicture('text')">
    テキスト
  </button>
  <button ion-button (click)="reset()">
    リセット
  </button>

</ion-content>