<!--
  Generated template for the P5Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>線が描ける</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- ここにCanvasが展開される -->
  <div id="myCanvas" #myCanvas class="canvas-area">
  </div>

  <!-- ボタン領域 -->
  <div class="action-button-area">
    <!-- 赤色 -->
    <button ion-button icon-only clear class="color-red" (click)="onRed()">
      <ion-icon name="brush"></ion-icon>
    </button>

    <!-- 青色 -->
    <button ion-button icon-only clear class="color-blue" (click)="onBlue()">
      <ion-icon name="brush"></ion-icon>
    </button>

    <!-- 黄色 -->
    <button ion-button icon-only clear class="color-yellow" (click)="onYellow()">
      <ion-icon name="brush"></ion-icon>
    </button>

    <!-- 白色 -->
    <button ion-button icon-only clear class="colore-write" (click)="onWhite()">
      <ion-icon name="square-outline"></ion-icon>
    </button>

    <button ion-button icon-only clear (click)="save()">
      <ion-icon name="download"></ion-icon>
    </button>

    <!-- ペンの太さ -->
    <ion-item class="stroke-width">
      <ion-range min="1" max="10" [(ngModel)]="strokeWidth">
        <ion-icon range-left small name="brush"></ion-icon>
        <ion-icon range-right name="brush"></ion-icon>
      </ion-range>
    </ion-item>

  </div>
</ion-content>