<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>メニュー</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button full color="light" (click)="goListImg()">画像CRUD</button>
  <button ion-button full color="light" (click)="goTest()">APP Service</button>
  <button ion-button full color="light" (click)="callxodo()">CALL XODO</button>
  <button ion-button full color="light" (click)="navToMap()">GoogleMap</button>
  <button ion-button full color="light" (click)="navToImg()">画像CRUD(NEW)</button>
  <button ion-button full color="light" (click)="navToJs()">P5.JSの調査</button>
</ion-content>