page-welcome {

    .con{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        transform:scale(1,1);
    }

    .welcome{
        margin-top: 10%;
        transform:scale(2,2);
        transition-duration:2

    }
    .con-button{
        padding-top: 1%;
        height: 16%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

}
