<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>welcome</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="con">

    <div class="welcome">
      <p> Welcome</p>
    </div>


    <div class="con-button">
      <button ion-button round color="warn" class="login-button" (click)="goMenu()">
        メニュー
      </button>
      <button ion-button round color="warn" class="login-button" (click)="logout()">
        <!-- <a href="https://login.windows.net/b0228deb-e421-4b18-966a-f5f74a6b11cc/oauth2/logout?post_logout_redirect_uri=https%3A%2F%2Fmicway.com.au%2F"></a> -->
        ログアウト
      </button>
      <button ion-button round color="warn" class="login-button" (click)="openfile()">
        openfile
      </button>
    </div>
  </div>

</ion-content>