<!--
  Generated template for the PaintPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>作図</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="myCanvas" #myCanvas class="canvas-area"></div>
</ion-content>
