<!--
  Generated template for the MapDemoListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>map-demo-list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-button color="dark" (click)="navToPolygon()">Polygon</button>
    <button ion-button color="dark" (click)="navToPolyline()">Polyline</button>
    <button ion-button color="dark" (click)="navToCalculate()">計測</button><br/>
    <!-- <button ion-button color="dark" (click)="navToSpeech()">Mic</button><br/> -->
    <button ion-button color="dark" (click)="navToStaticMap()">staticMap作成</button><br/>

</ion-content>
