page-edit-pop {
    .editPage{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3%;
    }
    th{
        width: 100px;
        height: 20px;
        border: 1px solid #ccc;
        text-align: center;
        font-weight: bold;
        background-color: #F0F0F0;
    }
    td{
        width: 100px;
        height: 20px;
        border: 1px solid #ccc;
        text-align: center;
    }
}
