<!--
  Generated template for the EditPopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="editPage">
    <table>
      <tr>
        <th>studentName</th>
        <th>teacherName</th>
        <th>email</th>
      </tr>
      <tr>
        <td>
          <ion-input [(ngModel)]='getStudentName' (ngModelChange)='getStudentNameChange(getStudentName)' text-center></ion-input>
        </td>
        <td>
          <ion-select style="contain: content;max-width: 100%;" name="item" [(ngModel)]='item' (ngModelChange)='getTeacherIdChange(item)'>
            <!-- <ion-option value="1" selected>teacherName1</ion-option>
            <ion-option value="2">teacherName2</ion-option>
            <ion-option value="3">teacherName3</ion-option> -->
            <ion-option [value]="item" *ngFor="let item of teacherList" [selected]="item.teacherId == getTeacherId">{{item.teacherName}}</ion-option>
          </ion-select>
        </td>
        <td>
          <ion-input [(ngModel)]='getEmail' (ngModelChange)='getEmailChange(getEmail)' text-center></ion-input>
        </td>
      </tr>
    </table>
    <button ion-button [color]="pageFlg?'secondary':''" style="width: 100px;height: 20px;margin-top: 10px;" (click)="commit()">Commit</button>
  </div>
</ion-content>