<!--
  Generated template for the PdfViewerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PdfViewer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-icon name="add-circle" (click)="zoomin()"></ion-icon>
  <ion-icon name="remove-circle" (click)="zoomout()"></ion-icon>
  <input (change)="onFileSelected($event)" type="file" id="file" accept="application/pdf">

  <pdf-viewer [src]="pdfSrc" [show-all]="true" [original-size]="false" [zoom]="zoom" style="display: block;"></pdf-viewer>
</ion-content>