<!--
  Generated template for the CreImgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>新規画像</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="con" style="height: 100%; width: 100%; margin: 0;">

      <div>
        <img src="{{picture}}" height="300px" *ngIf="!haspicture"/>
        <img src="{{temp}}" height="300px" *ngIf="haspicture"/>
      </div>

      <div class="con-content">
          <div class= "con-left">
              <ion-icon name="md-camera" color="warn" style="font-size:40px; margin-right: 50%" (click)="takePicture()"></ion-icon>
              <ion-icon name="folder" color="warn" style="font-size:40px; margin-right: 5%" (click)="openImgPicker()" ></ion-icon>
              <!-- <ion-icon name="cloud-upload"></ion-icon> -->
              <!-- <ion-icon name="trash" color="warn" style="font-size:40px;" ></ion-icon> -->
          </div>
        </div>
      
      <div class="con-button">
        <button ion-button round color="warn" type="submit" id="btnSignIn" (click)="clickMethod()">
            コミット
        </button>
      </div>

      <span id="span">
        {{result}}
      </span>
    </div>

</ion-content>
