page-cre-img {

    .con{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .con-button{
        padding-top: 1%;
        height: 16%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .con-content{
        display:flex;
        justify-content:flex-start;
        margin-top: 10%;
    }
    .con-left{
        display:flex;
        justify-content:center;
        flex-wrap:wrap/wrap-reverse;
        align-items:center;
        margin-right:5%;
    }

}
