<!--
  Generated template for the CalculateDemoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>calculate-demo</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div #map id="map"></div>

  <div id="floating-panel" [ngStyle]="{'display': isDisplay}">
    <div>
      <button (click)="drawPolygon()">drawPolygon</button>
      <button (click)="drawPolyline()">drawPolyline</button>
      <button (click)="drawRute()">drawRute</button>
      <button (click)="getElevation()">MarkElevation</button>
    </div>
    <div>
      <button (click)="calculatePolygon()">calPolygon</button>
      <button (click)="calculatePolyline()">calPolyline</button>
      <button (click)="calculateRute()">calRute</button>
      <button (click)="calculateSlope()">両点坂道</button>
      <button (click)="cleanAll()">cleanAll</button>
    </div>
  </div>
  <div>
    <button ion-button style="position:absolute; z-index: 100; bottom:2vh; left:2vw; cursor: pointer;" (click)="isVisable()">Demo</button>
  </div>
</ion-content>
