<!--
  Generated template for the P5_2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>図形の回転</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="myCanvas" #myCanvas class="canvas-area">
  </div>
  <!-- <button ion-button icon-only clear (click)="dragPicture('rect')">
    矩形
  </button>
  <button ion-button icon-only clear (click)="dragPicture('rect','drag')">
    矩形ドラッグ
  </button> -->
  <button ion-button (click)="rotatePicture('triangle')">
    三角形の回転
  </button>
  <button ion-button (click)="rotatePicture('rect')">
    矩形の回転
  </button>
  <button ion-button (click)="rotatePicture('polygon')">
    多角形の回転
  </button>
  <button ion-button (click)="reset()">
    リセット
  </button>
</ion-content>